body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #023C66;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SeoulNamsan CB', sans-serif;
}

.registration-container {
    width: 1440px;
    height: 1200px;
    position: relative;
}

.header, .footer {
    position: absolute;
    width: 100%;
    background-color: #589ACA;
    border-radius: 10px;
    border: 2px solid #000;
}

.header {
    height: 141px;
    top: 0;
    background-image: url('./assets/cabecalho.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

