body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'SeoulNamsan CB', Arial, sans-serif;
    background-color: #023c66;
    color: white;
  }

  .app-container {
    display: flex;
    flex-direction: column;
    height: 1200px;
    align-items: center;
  }

  .app-header, .app-footer {
    background: #589acaff;
    padding: 30px;
    width: 85%;
    display: flex;
    height: 15px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #000;
    justify-content: center;
  }

  .logo {
    height: 126px;
    width: 200px;
  }

 